@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    font-size: 62.5%;
    height: 100%;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}
.creat-post{
    height: 30rem;
    width: 20rem;
    background-color: hsl(31, 66%, 93%);
    margin: 3rem;
    padding: 3rem;
    font-size: 2rem;
    border-radius: .8rem;
}
.creat-img{
    height: 7rem;
    width: 14rem;
    margin-top: 6rem;
}
.p-color{
    color: hsl(256, 67%, 59%);
}
.explanation{
    height: 30rem;
    width: 50rem;
    background-color: hsl(256, 67%, 59%);
    color: white;
    font-size: 2.5rem;
    border-radius: 1rem;
    margin: 3rem;
    padding: 5.5rem;
}
.five-img{
    height: 3rem;
    margin-left: 9rem;
}
.ps{
    font-size: 2rem;
    margin-left: 6rem;
    color: rgba(255, 255, 255, 0.674);
}
.middle{
    margin: 3rem;
}
.y-color{
    color: hsl(39, 100%, 71%);
}
.schedual-post{
    height: 45rem;
    width: 20rem;
    background-color: hsl(254, 88%, 90%);
    margin: 3rem;
    /* padding: 1rem; */
    padding-top: 1.5rem;
    padding-left: 2.4rem;
    border-radius: 1rem;
}
.top{
    font-size: 2.5rem;
    font-weight: 700;
}
.bottom{
    font-size: 1.7rem;
    font-weight: 400;
}
.schedual-img{
    height: 25rem;
    
}