@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 62.5%;
  height: 100%;
}
body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  background-color: whitesmoke;
  /* z-index: 100; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-main{
  display: grid;
  grid-template-columns: 25rem 25rem 25rem 25rem;
  grid-template-rows: 35rem 25rem 20rem ;
  gap: 1em;
  

}
.creat-post {
  height: 35rem;
  width: 20rem;
  background-color: hsl(31, 66%, 93%);
  margin: 3rem;
  padding: 3rem;
  font-size: 2.5rem;
  border-radius: 0.8rem;
  grid-row: 1/2;
  grid-column: 1/2;
}
.creat-img {
  height: 7rem;
  width: 14rem;
  margin-top: 6rem;
}
.p-color {
  color: hsl(256, 67%, 59%);
}
.explanation {
  height: 30rem;
  width: 50rem;
  background-color: hsl(256, 67%, 59%);
  color: white;
  font-size: 2.5rem;
  border-radius: 1rem;
  margin: 1rem;
  margin-top: 3.2rem;
  padding: 5.5rem;
  grid-row: 1/3;
  grid-column: 2/4;
}
.five-img {
  height: 3rem;
  margin-left: 9rem;
}
.ps {
  font-size: 2rem;
  margin-left: 6rem;
  color: rgba(255, 255, 255, 0.674);
}
.middle {
  margin: 3rem;
}
.y-color {
  color: hsl(39, 100%, 71%);
}
.schedual-post {
  height: 55rem;
  width: 20rem;
  background-color: hsl(254, 88%, 90%);
  margin: 3rem;
  /* padding: 1rem; */
  padding-top: 1.5rem;
  padding-left: 2.4rem;
  border-radius: 1rem;
  overflow: hidden;
  grid-row: 1/3;
  grid-column: 4/5;
}
.top {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 2rem;
}
.bottom {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 400;
}
.schedual-img {
  height: 25rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.ai-content {
  height: 40rem;
  width: 20rem;
  background-color: hsl(39, 100%, 71%);
  margin: 3rem;
  margin-top: 5.5rem;
  padding: 2rem;
  border-radius: 0.8rem;
  grid-row: 2/4;
  grid-column: 1/2;
}
.ai-img {
  height: 17rem;
  margin-top: 5rem;
}
.ai-text {
  font-size: 3rem;
  font-weight: 600;
}
.multiple-platforms {
  height: 20rem;
  width: 20rem;
  background-color: rgb(238, 238, 238);
  margin: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  grid-row: 2/3;
  grid-column: 2/3;
}
.multiple-img {
  height: 5rem;
}
.mul-text {
  font-size: 2rem;
  margin-top: 0.8rem;
}
.consistent-schedule {
  height: 20rem;
  width: 20rem;
  background-color: hsl(39, 100%, 71%);
  border-radius: 1rem;
  margin: 3rem;
  padding: 2rem;
  overflow: hidden;
  grid-row: 2/3;
  grid-column: 3/4;
}
.consistent-img {
  height: 12rem;
  margin-top: 0.7rem;
}
.consis-text {
  font-size: 2rem;
  font-weight: 900;
}
.audience-growth {
  height: 20rem;
  width: 20rem;
  background-color: rgb(238, 238, 238);
  padding: 2rem;
  border-radius: 1rem;
  margin-left: 3rem;
  grid-row: 3/4;
  grid-column: 2/3;
}
.growth-img {
  height: 6rem;
}
.number {
  font-size: 5rem;
  font-weight: 600;
}
.growth-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.grow-followers {
  height: 20rem;
  width: 50rem;
  background-color: hsl(256, 67%, 59%);
  /* margin: 3rem; */
  /* margin-left: 8.5rem; */
  border-radius: 1rem;
  color: white;
  grid-row: 3/4;
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.follow-img {
  height: 17rem;
  grid-column: 1/2;
  margin-left: 3rem;
}
.follow-text{
  font-size: 3rem;
}
